.divMain {
  background-color: transparent;
  color: #fff;
  z-index: 1000;
  transition: all .25s ease-out;
}

@media screen and (max-width: 768px) {
  .divMain {
    background: #1b4e43;
  }
}

.divMain.scroll {
  background: #1b4e43;
}

.divMain .brand img {
  width: 100%;
  height: 64px;
  border-radius: 16px;
  transition: all .25s ease-out;
}

.divMain.scroll .brand img {
  height: 48px !important;
}

@media screen and (max-width: 768px) {
  .divBtn {
    width: 100%;
  }
}

.nav li {
  cursor: pointer;
}